<p id="notice"><%= notice %></p>



<table>
  <thead>
    <tr>
      <th>Origem</th>
      <th>Destino</th>
      <th>Minutos</th>
      <th>Plano</th>
      <th>Valor</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @calls.each do |call| %>
      <tr>
        <td><%= call.origin %></td>
        <td><%= call.destiny %></td>
        <td><%= call.minuts %></td>
        <td><%= link_to 'Show', call %></td>
        <td><%= link_to 'Edit', edit_call_path(call) %></td>
        <td><%= link_to 'Destroy', call, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Call', new_call_path %>
