<div class="ui middle aligned center aligned grid three columns">
  <div class="fice wide column">

<table class="ui celled striped table">
  <thead>
  <tr>
    <th>Origem</th>
    <th>Destino</th>
    <th>Tempo</th>
    <th>Plano FaleMais</th>
    <th>Com FaleMais</th>
    <th>Sem FaleMais</th>
    <th colspan="6"></th>
  </tr>
  </thead>

  <tbody>

    <tr>
      <td><%= @call.origin %></td>
      <td><%= @call.destiny %></td>
      <td><%= @call.minuts %></td>
      <td> <%= @plan %></td>
      <td>$ <%= @call.valuewithplan %></td>
      <td>$ <%= @call.valuewithoutplan %></td>
      <td><%= link_to 'Edit', edit_call_path(@call) %></td>
      <td><%= link_to 'Destroy', @call, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <td><%= link_to 'Back', calls_path %></td>
    </tr>

  </tbody>
</table>


  </div>
</div>